.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.search {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #303537;
  border-radius: 12px;
  margin: 0;
  margin-left: 8px;
  margin-top: 8px;
  font-size: 20px;
  line-height: 40px;
  padding: 8px;
}

.icon {
  /* background: linear-gradient(-45deg, rgb(44, 191, 199), rgb(70, 238, 170)); */
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  margin: 0;
  margin-left: 8px;
  padding: 0;
  line-height: 12px;
}
