.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.search {
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 12px;
  margin: 0;
  margin-left: 8px;
  margin-top: 8px;
  font-size: 16px;
  line-height: 16px;
  padding: 8px;
  color: var(--font-color);
  text-decoration: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  border: var(--button-border);
  margin-left: 8px;
  margin-right: 4px;
}
