.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.search {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--block-background);
  border-radius: 12px;
  margin: 0;
  margin-left: 8px;
  margin-top: 8px;
  font-size: 16px;
  line-height: 16px;
  padding: 8px;
}

.icon {
  /* background: linear-gradient(-45deg, rgb(44, 191, 199), rgb(70, 238, 170)); */
  height: 30px;
  width: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  border: var(--button-border);
  border-radius: 8px;
  padding: 0;
  margin: 0;
}

.title {
  display: flex;
  margin: 0;
  margin-left: 8px;
  padding: 0;
  line-height: 12px;
  color: var(--font-color);
}
