.shared {
  margin: 0;
  padding: 0;
}

.container {
  composes: shared;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link {
  composes: shared;
  padding-left: 5px;
}
