.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  padding: 0;
}

.title {
  height: 26px;
  border-radius: 6px;
  min-width: 360px;
  border: 0;
  padding: 0 8px;
  font-size: 16px;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  border: 0;
  border-radius: 6px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.remove {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  border: 0;
  border-radius: 8px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.fields {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 26px;
}

.field {
  display: flex;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  min-width: 80px;
  background-color: var(--background-color);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.position {
  display: flex;
  height: 26px;
  min-width: 40px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
