.help {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border-radius: 12px;
  margin-bottom: 8px;
  padding: 8px;
  color: var(--font-color);
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
