 .list {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 40%;
  background-color: #303537;
  border-radius: 12px;
  margin-left: 8px;
  margin-bottom: 0;
  margin-top: 8px;
  padding: 8px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 4px;
  padding-right: 4px;
  padding-left: 4px;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  background: linear-gradient(-45deg, rgb(135, 57, 229), rgb(84, 150, 255));
}


.items {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  overflow-y: overlay;
  overflow-x: inherit;
}

.items::-webkit-scrollbar {
  width: 6px;
}

.items::-webkit-scrollbar-track {
  background-color: #2f2f37;
  border-radius: 3px;
}

.items::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 3px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  border-radius: 8px;
  padding: 2px;
  background: linear-gradient(-45deg, rgb(44, 191, 199), rgb(70, 238, 170));
  margin-top: 8px;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 900;
  border: none;
  border-radius: 6px;
  padding: 0;
  margin: 0;
  min-width: 20px;
  background-color: #e5e7eb;
  color: cadetblue;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 900;
  border: none;
  border-radius: 6px;
  padding: 0;
  margin: 0;
  min-width: 20px;
  background-color: #e5e7eb;
  color: cadetblue;
}
