html {
  --font-color: #c2c2c2;
  --button-border: 1px solid #c2c2c2;
  --block-background: #f0f1f5;
  --button-background: #f0f1f5;
  --sidebar-border-color: #d0d4d6;
  --button-background-color: #c2c2c2;
  --button-font-color: #000;
  --background-color: #ffffff;
  background-color: #ffffff;
}

html[data-theme="dark"] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-color: #ededed;
  --button-border: 1px solid #e5e7eb;
  --block-background: #303537;
  --button-background: #303537;
  --sidebar-border-color: #303537;
  --button-background-color: #efefef;
  --button-font-color: #000;
  --background-color: #242424;
  background-color: #242424;
}

:root {
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color-scheme: light dark;
  color: var(--font-color);
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* --font-color: #ededed;
  --button-border: 1px solid #e5e7eb;
  --block-background: #303537;
  --button-background: #303537;
  --sidebar-border-color: #303537;
  --button-background-color: #efefef;
  --button-font-color: #1b1919; */
}

a {
  text-decoration: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--font-color);
    /* color: #213547; */
    /* background-color: #ffffff; */
    /* --font-color: #c2c2c2;
    --button-border: 1px solid #c2c2c2;
    --block-background: #f0f1f5;
    --button-background: #f0f1f5;
    --sidebar-border-color: #d0d4d6;
    --button-background-color: #c2c2c2;
    --button-font-color: #000; */
  }
}