
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #303537;
  border-radius: 12px;
  padding: 8px;
}

.pic {
  background: linear-gradient(-45deg, rgb(135, 57, 229), rgb(84, 150, 255));
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
}
.pic:visited {
  color: yellow;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.notification {
  background: linear-gradient(-45deg, rgb(44, 191, 199), rgb(70, 238, 170));
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
  min-height: 68px;
}
