.container {
  width: 720px;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
}

.close {
  position: absolute;
	justify-self: flex-end;
	margin: 0;
	padding: 0;
	z-index: 3;
	width: 24px;
	height: 24px;
	top: 63px;
	right: 43px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
