.text-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 8px;
}
.label {
  font-size: 12px;
  padding: 5px 0;
  margin: 0;
}

.label_error {
  color: red;
}

.error {
  color: red;
  font-size: 12px;
  margin: 0;
  padding: 0;
}