.title {
  width: 100%;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  padding: 0;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 24px;
  margin-bottom: 12px;
  margin-left: 8px;
  margin-right: 8px;
}

.form {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  /* grid-template-rows: 1fr 2fr; */
  gap: 8px;
  flex-direction: row;
  border-radius: 8px;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--block-background);
  margin-right: 8px;
}

.settings {
  display: grid;
  grid-template: 'theme notification' 'base base' 'base base';
  gap: 8px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  margin-right: 8px;
}

.theme {
  background-color: var(--block-background);
  border-radius: 8px;
  grid-area: theme;
}

.notification {
  background-color: var(--block-background);
  border-radius: 8px;
  grid-area: notification;
}

.base {
  background-color: var(--block-background);
  border-radius: 8px;
  grid-area: base;
}

.input {
  border-radius: 8px;
  padding: 8px;
  font-size: 18px;
  margin: 0;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
}

.picture {
  height: 100px;
  width: 100px;
  background: linear-gradient(-45deg, rgb(255, 131, 89), rgb(255, 223, 64));
  border-radius: 50%;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
