.tools {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 0;
  padding-left: 8px;
  margin: 0 8px;
  margin-top: 12px;
  border-radius: 8px;
}

.title {
  border-radius: 4px;
  min-width: 300px;
  border: 0;
  padding: 0 8px;
  font-weight: 500;
  margin-left: 4px;
}

.form {
  margin: 0 8px;
  height: 100%;
  border-radius: 8px;
  display: grid;
  gap: 8px;
  grid-template-columns: 4fr;
}

.two {
  grid-template-columns: 3fr 1fr;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 12px;
  padding: 8px;
  background-color: var(--block-background);
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid red;
  width: 100%;
}

.buttons {
  display: flex;
  padding: 8px;
}
